
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Lexend, sans-serif;
    background-image: url(fondo.jpg);
    color: #fff;
    
}
 h1 {
    font-size: 200px; /* Tamaño grande del texto */
    color: #0026ff; /* Color del texto (verde neón) */
    text-shadow: 
        0 0 5px #fbff00, /* Resplandor interno */
        0 0 10px #eeff00, /* Resplandor interno más fuerte */
        0 0 15px #ffbb00, /* Resplandor externo */
        0 0 20px #0044ff, /* Color de resplandor externo */
        0 0 25px #0004ff, /* Color de resplandor externo más fuerte */
        0 0 30px #001aff; /* Color de resplandor externo aún más fuerte */
    animation: neonBlink 3s infinite alternate; /* Aplicar animación de parpadeo */
    
}

@keyframes neonBlink {
  0% {
    text-shadow: 
        0 0 5px #fdc200, 
        0 0 10px rgb(255, 208, 0), 
        0 0 15px #ffee00, 
        0 0 20px #ff0000, 
        0 0 25px #ff0000, 
        0 0 30px #ff0000;
} 
  50% {
        text-shadow: 
            0 0 5px #000000, 
            0 0 10px rgb(0, 0, 0), 
            0 0 15px #000000, 
            0 0 20px #8400ff, 
            0 0 25px #8400ff, 
            0 0 30px #6f00ff;
    }
    100% {
        text-shadow: 
            0 0 2px #3cff00, 
            0 0 4px #33ff00, 
            0 0 6px #00ff0d, 
            0 0 10px #03ffab, 
            0 0 12px #00ffd5, 
            0 0 15px #00f7ff;
    }
}

#menu {
    text-align: center;
}

#game-container {
    text-align: center;
    margin-top: 20px;

}

.hidden {
    display: none;
}

canvas {
    background-image: url(texture.jpg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), /* Sombra blanca */
                0 0 20px rgb(0, 0, 0),   /* Sombra roja */
                0 0 30px rgb(0, 4, 255);   /* Sombra roja más difusa */
    display: block;
    margin: 0 auto;
    border: 2px solid #000000;
    animation: neonBlink1 5s infinite alternate;
}
@keyframes neonBlink1 {
  0% {
      box-shadow: 
          0 0 5px #0011ff, 
          0 0 10px rgb(0, 72, 255), 
          0 0 15px #0044ff, 
          0 0 20px #ff0000, 
          0 0 25px #ff0000, 
          0 0 30px #ff0000;
  }
  25% {
      box-shadow: 
          0 0 2px #00ffea, 
          0 0 4px #00ffff, 
          0 0 8px #00ffdd, 
          0 0 15px #00ff15, 
          0 0 20px #48ff00, 
          0 0 25px #09ff00;
  }
  50% {
    box-shadow: 
        0 0 10px #ffe600, 
        0 0 15px #ffe600, 
        0 0 20px #ffe600, 
        0 0 30px #d400ff, 
        0 0 40px #e100ff, 
        0 0 45px #c300ff;
}
75% {
 
    box-shadow: 
        0 0 5px #0011ff, 
        0 0 10px rgb(0, 72, 255), 
        0 0 15px #0044ff, 
        0 0 20px #ff0000, 
        0 0 25px #ff0000, 
        0 0 30px #ff0000;
}
100% {
  box-shadow: 
      0 0 10px #00eeff, 
      0 0 15px #00ffea, 
      0 0 20px #00ffdd, 
      0 0 30px #ffe600, 
      0 0 40px #ffe600, 
      0 0 45px #fffb00;
}
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: Lexend, sans-serif;
}
#start-button {
    margin-top: 10px;
    margin-bottom: 160px;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    background-image: url(boton.jpg);
    color: #ffffff;
    border-radius: 5px;
    animation: colorChange 10s infinite ;
}

@keyframes colorChange {
  0% {
    color: rgb(55, 0, 255);
  }
  25% {
    color: rgb(0, 255, 179);
  }
  50% {
    color: rgb(255, 0, 0);
  }
  75% {
    color: rgb(115, 255, 0);
  }
  100% {
    color: #00f;
  }

}

      #restart-button {
        animation: colorChangeR 5s infinite ;
        background-image: url(reiniciar.jpg);
        font-size: 20px;
        font-family: Lexend, sans-serif;
      }
      @keyframes colorChangeR {
        0% {
          color: rgb(55, 0, 255);
        }
        25% {
          color: rgb(0, 255, 179);
        }
        50% {
          color: rgb(234, 72, 255);
        }
        75% {
          color: rgb(115, 255, 0);
        }
        100% {
          color: #00f;
        }
      
      }
      

button:hover {
    background-color: #d40000;
    box-shadow: 0px 5px 20px rgb(255, 255, 255);
}
button:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
    box-shadow: 0px 2px 5px rgb(0, 26, 255);
  }
